<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Azril Fahmiardi</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav-container" id="home">
        <div class="nav-logo">
          <p class="logo">Port<span id="greenlogo">folio.</span></p>
        </div>
        <div class="nav-list">
          <ul>
            <li>
              <a href="#">HOME</a>
            </li>
            <li class="dropdown-nav">
              <a href="#aboutme">ABOUT</a>
              <ul class="dropdown">
                <li><a href="#aboutme">ABOUT ME</a></li>
                <li><a href="#my-skills">MY SKILLS</a></li>
                <li><a href="#certificate">CERTIFICATE</a></li>
              </ul>
            </li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="nav-pop-up">
          <img class="icon-nav active-pop" src="assets/bars.svg" alt="navigation bar" />
          <img class="icon-nav" src="assets/times_white.svg" alt="navigation bar" />
        </div>
      </nav>
    </header>
    <main>
      <aside id="profile">
        <div class="profile-desc">
          <p class="title">Software Enginer</p>
          <h1 class="name">Azril Fahmiardi</h1>
          <p class="text">Software Enginer student at Universitas Gadjah Mada.</p>
          <div class="profile-button">
            <a class="contact-me" href="#contact">Contact Me</a>
            <a class="download-cv" target="_blank" href="assets/cv.pdf">Download CV</a>
          </div>
        </div>
        <div class="profile-img">
          <img src="assets/profile-image3.png" alt="Progile Image" />
        </div>
      </aside>
      <div id="content">
        <article id="about">
          <svg id="wave" style="transform: rotate(180deg); transition: 0.3s" viewBox="0 0 1440 260" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(36, 37, 40, 1)" offset="0%"></stop>
                <stop stop-color="rgba(36, 37, 40, 1)" offset="100%"></stop>
              </linearGradient>
            </defs>
            <path
              style="transform: translate(0, 0px); opacity: 1"
              fill="url(#sw-gradient-0)"
              d="M0,78L24,95.3C48,113,96,147,144,143C192,139,240,95,288,91C336,87,384,121,432,130C480,139,528,121,576,99.7C624,78,672,52,720,43.3C768,35,816,43,864,73.7C912,104,960,156,1008,177.7C1056,199,1104,191,1152,182C1200,173,1248,165,1296,173.3C1344,182,1392,208,1440,199.3C1488,191,1536,147,1584,108.3C1632,69,1680,35,1728,56.3C1776,78,1824,156,1872,164.7C1920,173,1968,113,2016,73.7C2064,35,2112,17,2160,13C2208,9,2256,17,2304,26C2352,35,2400,43,2448,56.3C2496,69,2544,87,2592,104C2640,121,2688,139,2736,134.3C2784,130,2832,104,2880,104C2928,104,2976,130,3024,134.3C3072,139,3120,121,3168,134.3C3216,147,3264,191,3312,199.3C3360,208,3408,182,3432,169L3456,156L3456,260L3432,260C3408,260,3360,260,3312,260C3264,260,3216,260,3168,260C3120,260,3072,260,3024,260C2976,260,2928,260,2880,260C2832,260,2784,260,2736,260C2688,260,2640,260,2592,260C2544,260,2496,260,2448,260C2400,260,2352,260,2304,260C2256,260,2208,260,2160,260C2112,260,2064,260,2016,260C1968,260,1920,260,1872,260C1824,260,1776,260,1728,260C1680,260,1632,260,1584,260C1536,260,1488,260,1440,260C1392,260,1344,260,1296,260C1248,260,1200,260,1152,260C1104,260,1056,260,1008,260C960,260,912,260,864,260C816,260,768,260,720,260C672,260,624,260,576,260C528,260,480,260,432,260C384,260,336,260,288,260C240,260,192,260,144,260C96,260,48,260,24,260L0,260Z"
            ></path>
            <defs>
              <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(36, 37, 40, 0.8)" offset="0%"></stop>
                <stop stop-color="rgba(36, 37, 40, 0.92)" offset="100%"></stop>
              </linearGradient>
            </defs>
            <path
              style="transform: translate(0, 50px); opacity: 0.9"
              fill="url(#sw-gradient-1)"
              d="M0,0L24,8.7C48,17,96,35,144,60.7C192,87,240,121,288,143C336,165,384,173,432,151.7C480,130,528,78,576,78C624,78,672,130,720,151.7C768,173,816,165,864,169C912,173,960,191,1008,186.3C1056,182,1104,156,1152,130C1200,104,1248,78,1296,60.7C1344,43,1392,35,1440,43.3C1488,52,1536,78,1584,86.7C1632,95,1680,87,1728,78C1776,69,1824,61,1872,52C1920,43,1968,35,2016,47.7C2064,61,2112,95,2160,99.7C2208,104,2256,78,2304,56.3C2352,35,2400,17,2448,26C2496,35,2544,69,2592,91C2640,113,2688,121,2736,125.7C2784,130,2832,130,2880,121.3C2928,113,2976,95,3024,82.3C3072,69,3120,61,3168,86.7C3216,113,3264,173,3312,164.7C3360,156,3408,78,3432,39L3456,0L3456,260L3432,260C3408,260,3360,260,3312,260C3264,260,3216,260,3168,260C3120,260,3072,260,3024,260C2976,260,2928,260,2880,260C2832,260,2784,260,2736,260C2688,260,2640,260,2592,260C2544,260,2496,260,2448,260C2400,260,2352,260,2304,260C2256,260,2208,260,2160,260C2112,260,2064,260,2016,260C1968,260,1920,260,1872,260C1824,260,1776,260,1728,260C1680,260,1632,260,1584,260C1536,260,1488,260,1440,260C1392,260,1344,260,1296,260C1248,260,1200,260,1152,260C1104,260,1056,260,1008,260C960,260,912,260,864,260C816,260,768,260,720,260C672,260,624,260,576,260C528,260,480,260,432,260C384,260,336,260,288,260C240,260,192,260,144,260C96,260,48,260,24,260L0,260Z"
            ></path>
          </svg>
          <div class="about-me-container" id="aboutme">
            <div class="desc">
              <h2 class="title">ABOUT ME</h2>
              <p class="text">
                My name is Azril Famiardi, I am 18 years old, I am an informatics student at UGM. I come from Batam and now live alone in Yogyakarta because I'm studying. I really like coding, science and technology. Lets work together !!
              </p>
              <div class="aboutme-button">
                <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/azril-fahmiardi-359772283/">LinkedIn</a>
                <a class="github" target="_blank" href="https://github.com/AzrilFahmiardi">Github</a>
              </div>
            </div>
            <div class="img-slider">
              <div class="image">
                <img class="slide active" src="assets/ajin1.jpg" alt="Azril 1" id="azril1" />
                <img class="slide" src="assets/ajin2.jpg" alt="Azril 2" id="azril2" />
                <img class="slide" src="assets/ajin3.jpg" alt="Azril 3" id="azril3" />
              </div>
              <div class="navigation-image">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
              </div>
            </div>
          </div>
          <div class="about-me-2-container">
            <div class="skills" id="my-skills">
              <h2 class="title">MY SKILLS</h2>
              <div class="skill-container">
                <div class="skill-box"><img id="html" src="assets/hmtl_BW.png" alt="" /></div>
                <div class="skill-box"><img id="css" src="assets/css_BW.png" alt="" /></div>
                <div class="skill-box"><img id="javascript" src="assets/js_BW.png" alt="" /></div>
                <div class="skill-box"><img id="cplus" src="assets/c++_BW.png" alt="" /></div>
              </div>
            </div>
            <div class="certificate" id="certificate">
              <h2 class="title">CERTIFICATE</h2>
              <div class="certif-area">
                <div class="certif-list">
                  <p class="certif-title">System Analyst</p>
                  <p class="certif-source">BNSP</p>
                </div>
                <div class="certif-list">
                  <p class="certif-title">Software Enginering Fundamental Course</p>
                  <p class="certif-source">RevoU</p>
                </div>
                <div class="certif-list">
                  <p class="certif-title">Belajar Dasar Pemrograman Javascript</p>
                  <p class="certif-source">Dicoding</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article id="portfolio">
          <div class="porto-container">
            <h2 class="title">PORTFOLIO</h2>
            <p class="name">My Latest Project</p>
            <div class="project">
              <div class="project-list">
                <div class="project-img">
                  <img src="assets/bookshlef1.png" alt="" />
                  <div class="project-overlay">
                    <a class="icon" target="_blank" href="https://azrilfahmiardi.github.io/Bookshelf/"><img src="assets/link.svg" alt="" /></a>
                    <span class="icon zoom-icon"><img src="assets/search.svg" alt="" /></span>
                  </div>
                </div>
                <div class="project-desc">
                  <p class="project-title">Bookshelf</p>
                  <a class="read-more" target="_blank" href="https://github.com/AzrilFahmiardi/Bookshelf">Read More</a>
                </div>
              </div>
              <div class="project-list">
                <div class="project-img">
                  <img src="assets/todo1.png" alt="" />
                  <div class="project-overlay">
                    <a class="icon" target="_blank" href="https://azrilfahmiardi.github.io/Todo-App/"><img src="assets/link.svg" alt="" /></a>
                    <span class="icon zoom-icon"><img src="assets/search.svg" alt="" /></span>
                  </div>
                </div>
                <div class="project-desc">
                  <p class="project-title">Todo App</p>
                  <a class="read-more" target="_blank" href="https://github.com/AzrilFahmiardi/Todo-App">Read More</a>
                </div>
              </div>
              <div class="project-list">
                <div class="project-img">
                  <img src="assets/ajin-academy1.png" alt="" />
                  <div class="project-overlay">
                    <a class="icon" target="_blank" href="https://azrilfahmiardi.github.io/Ajin-Academy/"><img src="assets/link.svg" alt="" /></a>
                    <span class="icon zoom-icon"><img src="assets/search.svg" alt="" /></span>
                  </div>
                </div>
                <div class="project-desc">
                  <p class="project-title">Ajin Academy</p>
                  <a class="read-more" target="_blank" href="https://github.com/AzrilFahmiardi/Ajin-Academy">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <svg id="wave" style="transform: rotate(0deg); transition: 0.3s" viewBox="0 0 1440 320" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(36, 37, 40, 1)" offset="0%"></stop>
                <stop stop-color="rgba(36, 37, 40, 1)" offset="100%"></stop>
              </linearGradient>
            </defs>
            <path
              style="transform: translate(0, 0px); opacity: 1"
              fill="url(#sw-gradient-0)"
              d="M0,64L30,58.7C60,53,120,43,180,80C240,117,300,203,360,208C420,213,480,139,540,138.7C600,139,660,213,720,218.7C780,224,840,160,900,112C960,64,1020,32,1080,53.3C1140,75,1200,149,1260,165.3C1320,181,1380,139,1440,128C1500,117,1560,139,1620,128C1680,117,1740,75,1800,69.3C1860,64,1920,96,1980,133.3C2040,171,2100,213,2160,192C2220,171,2280,85,2340,48C2400,11,2460,21,2520,58.7C2580,96,2640,160,2700,202.7C2760,245,2820,267,2880,240C2940,213,3000,139,3060,128C3120,117,3180,171,3240,165.3C3300,160,3360,96,3420,101.3C3480,107,3540,181,3600,192C3660,203,3720,149,3780,112C3840,75,3900,53,3960,85.3C4020,117,4080,203,4140,229.3C4200,256,4260,224,4290,208L4320,192L4320,320L4290,320C4260,320,4200,320,4140,320C4080,320,4020,320,3960,320C3900,320,3840,320,3780,320C3720,320,3660,320,3600,320C3540,320,3480,320,3420,320C3360,320,3300,320,3240,320C3180,320,3120,320,3060,320C3000,320,2940,320,2880,320C2820,320,2760,320,2700,320C2640,320,2580,320,2520,320C2460,320,2400,320,2340,320C2280,320,2220,320,2160,320C2100,320,2040,320,1980,320C1920,320,1860,320,1800,320C1740,320,1680,320,1620,320C1560,320,1500,320,1440,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
            ></path>
            <defs>
              <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="rgba(36, 37, 40, 0.7)" offset="0%"></stop>
                <stop stop-color="rgba(36, 37, 40, 1)" offset="100%"></stop>
              </linearGradient>
            </defs>
            <path
              style="transform: translate(0, 50px); opacity: 0.9"
              fill="url(#sw-gradient-1)"
              d="M0,160L30,138.7C60,117,120,75,180,58.7C240,43,300,53,360,96C420,139,480,213,540,234.7C600,256,660,224,720,208C780,192,840,192,900,202.7C960,213,1020,235,1080,218.7C1140,203,1200,149,1260,106.7C1320,64,1380,32,1440,16C1500,0,1560,0,1620,26.7C1680,53,1740,107,1800,106.7C1860,107,1920,53,1980,74.7C2040,96,2100,192,2160,202.7C2220,213,2280,139,2340,112C2400,85,2460,107,2520,144C2580,181,2640,235,2700,261.3C2760,288,2820,288,2880,282.7C2940,277,3000,267,3060,240C3120,213,3180,171,3240,128C3300,85,3360,43,3420,48C3480,53,3540,107,3600,117.3C3660,128,3720,96,3780,117.3C3840,139,3900,213,3960,245.3C4020,277,4080,267,4140,240C4200,213,4260,171,4290,149.3L4320,128L4320,320L4290,320C4260,320,4200,320,4140,320C4080,320,4020,320,3960,320C3900,320,3840,320,3780,320C3720,320,3660,320,3600,320C3540,320,3480,320,3420,320C3360,320,3300,320,3240,320C3180,320,3120,320,3060,320C3000,320,2940,320,2880,320C2820,320,2760,320,2700,320C2640,320,2580,320,2520,320C2460,320,2400,320,2340,320C2280,320,2220,320,2160,320C2100,320,2040,320,1980,320C1920,320,1860,320,1800,320C1740,320,1680,320,1620,320C1560,320,1500,320,1440,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
            ></path>
          </svg>
        </article>
      </div>
      <aside id="contact">
        <div class="contact-container">
          <div class="contact-desc">
            <h2 class="title">CONTACT ME</h2>
            <p class="name">Let's Work With Me</p>
            <p class="text">You can send me a message, whether you want to make a group for a project, coding competition or recruit me as a worker, I am always open to positive activities.</p>
            <p class="email-contact"><a href="mailto:anakijummira@gmail.com">anakijummira@gmail.com ></a></p>
          </div>
          <div class="contact-form">
            <div class="form-wrapper">
              <p class="form-title">Send me a massage</p>
              <form action="/sendForm" method="post" id="message-form">
                <input type="text" class="input" placeholder="Your Name" name="name" required />
                <input type="email" class="input" placeholder="Your Email" name="email" required />
                <textarea id="project-details-message" class="input large-input" cols="30" rows="10" placeholder="Details Project" name="message" required></textarea>
                <input type="submit" class="input submit" id="submit-button" value="Send" />
              </form>
            </div>
          </div>
        </div>
      </aside>
    </main>
    <footer>
      <p>copyright @2021 Azril Fahmiardi</p>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
